#filter_dialog {
    width: 400px;
    height: 300px;
}

.buttons-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.buttons-wrapper .button{
    margin-left: 5px;
}

.filter-input{
    margin-bottom: -3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    resize: none;
}